<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300' rel='stylesheet' type='text/css'>

<div class="container">
<h1>wisp <span>(sounds good)</span></h1>
<table>  
<% @posts.each do |post| %>  
	<tr>
		<td><%= post.key %></td>
		<td><%= link_to "Download", download_url_for(post.key) %></td>  
		<td><%= link_to "Delete", "posts/delete/?post=" + post.key, :confirm => 'Are you sure you want to delete ' + post.key + '?' %></td>
	</tr>
<% end %>  
</table> 
<p>Upload a new MP3:</p>  
<%= form_tag upload_path, :method => "post", :multipart => true do %>  
    <%= file_field_tag "mp3file" %>  
    <%= submit_tag "Upload" %>  
<% end %>  
</div>