<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300|Norican' rel='stylesheet' type='text/css'>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />

<div class="container">
<div class="bar">wisp (sounds good)</div>
<div class="content">
<!-- 
<a>explore</a>
<table>
	<tr>
		<td>filename</td>
		<td>author</td>
		<td>date</td>
		<td>location</td>
		<td>tag</td>
	</tr>
</table> -->

<% @posts.each do |post| %>  
	<div class="post">
		<table>  
		<tr>
			<td><%= post.key %></td>

			<td><%= link_to "Download", download_url_for(post.key) %> or </td>
			<td><%= link_to "Delete", "posts/delete/?post=" + post.key, :confirm => 'Are you sure you want to delete ' + post.key + '?' %></td>
		</tr>
		</table> 
		<audio src=<%= download_url_for(post.key) %> controls>
		</audio>
	</div>
<% end %>  

<!-- <div id="container_button">
	<div id="hole">
		<div id="button">
			<div id="triangle"></div>
			<div id="lighter_triangle"></div>
			<div id="darker_triangle"></div>
		</div>
	</div>
</div>
--> 
<div><input type="file" accept="video/*" name="image_file" id="image_file" onchange="fileSelected();" /></div>

<div class="record">
	<input type="button" id="recordbutton" value="record!"/>
</div>
<!-- <p>Upload a new MP3:</p>
<%= form_tag upload_path, :method => "post", :multipart => true do %>  
    <%= file_field_tag "oggfile" %>  
    <%= submit_tag "Upload" %>  
<% end %>  
-->

</div>