<!-- <script type="text/javascript" src="js/audiohack.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script> 
<script type="text/javascript" src="js/amazons3uploader.js"></script> -->

<!--
<script src="http://cwilso.github.io/AudioContext-MonkeyPatch/AudioContextMonkeyPatch.js"></script>
<script src="audiorecording/js/recorder.js"></script>
<script src="audiorecording/js/main.js"></script> 
-->



<div class="container">
<div class="bar">wisp (sounds good)</div>
<div class="content">

<% @posts.each do |post| %>  
	<div class="post">

		<%= post.metadata[:Name] %> from <%= post.metadata[:loc] %><br>
		<small>posted at <%= post.about[:date] %></small>

		<table>  
		<tr>
			<td><%= post.key %></td>

			<td><%= link_to "Download", download_url_for(post.key) %> or </td>
			<td><%= link_to "Delete", "posts/delete/?post=" + post.key, :confirm => 'Are you sure you want to delete ' + post.key + '?' %></td>
		</tr>
		</table> 
		<audio src=<%= download_url_for(post.key) %> controls>
		</audio>
	</div>
<% end %>  

<p>Upload a new MP3:</p>
<%= form_tag upload_path, :method => "post", :multipart => true do %>  
    <%= file_field_tag "oggfile" %>  
    <%= submit_tag "upload!" %>  
<% end %>  
</div>
</div>